<!DOCTYPE html>
<html>
    <head>
        <title>alumniUNTN</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
   
    
    <div id="landing-header">
 		<h1>Welcome to alumniUNITN!</h1>
 		<h3>Feel part of the UNITN community, always</h3>
        <div class="job">
    		<a href="/richieste" class="btn btn-lg btn-success">Guarda ad alumni in cerca di occupazione</a>
    		<a href="/offerte" class="btn btn-lg btn-success">Guarda ad opportunità lavorative</a>
        </div>
		<a href="/mentorships" class="btn btn-lg btn-success">Vai alla sezione mentorship</a>
		
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
    

<% include partials/footer %>